@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --text-color: #F8F8F2;
}

body {
  font-family: 'Roboto Mono', sans-serif;
  background-color: #282A36;
  color: #F8F8F2;
  font-size: 18px;
  line-height: 1.6;
}

h1 {
  color: #BD93F9;
  font-size: 50px;
  letter-spacing: -5px;
  margin-bottom: 20px;
}

h2, span {
  color: var(--text-color);
}

h3 {
  margin-bottom: 10px;
}

b {
  color: #F1FA8C;
}

ul {
  list-style-type: none;
}

a {
  color: #8BE9FD;
  text-decoration: none;
}

a:hover {
  color: #FF79C6;
}

.resume {
  color: #8BE9FD;
  text-decoration: none;
}

li {
  font-size: 115%;
}

p {
  margin: 20px 0;
}

nav {
  width: 45%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  color: #8BE9FD;
  cursor: pointer;
}

nav ul li:hover {
  color: #FF79C6;
}

.typewritter {
  color: #FF79C6;
}

.container {
  max-width: 1000px;
  margin: auto;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.wb-body {
  background: #282A36;
  padding: 20px;
}

.hidden {
  display: none;
}

.cursor {
  font-weight: 700;
  color: #FF79C6;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }

  50% {
    color: #FF79C6;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #6272A4;
}

.terminal {
  left: 50%;
  top: 50%;
 
  height: 70px;
  
  font-size:16px;
  border: none;
  outline: none;
  color: inherit;
  overflow-wrap: break-word;
  max-width: 100%;
  
}

.dollar:before {
  content: '$';
  color: #50FA7B;
}